<div id="spree-header" data-hook>

  <header id="header" data-hook>
    <div class="container">
        <figure id="logo" class="col-md-3" data-hook>
          <%= logo %>
        </figure>
      <!---->
      <div class="text-right header-info header-resp">
        <div class="hidden-xs disp-inln fnt-sz9  ">
          <%= link_to do %>
            <%= image_tag 'store/offers-v2.png' %>
            <span style="position:relative;top:2px; font-size: 12px">Offers</span>
          <%end%>
          <%= link_to 'Track Your Order(s)' %>
          <%= link_to '14 day return policy' %>
        </div>

      </div>
      <!---->
        <%= render :partial => 'spree/shared/nav_bar' %>
    </div>
  </header>

  <div class="container">
    <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
  </div>

</div>