<% if spree_current_user %>
  <li class="header_btn"><%= link_to Spree.t(:my_account), spree.account_path %></li>
  <li class="header_btn"><%= link_to content_tag(:span, '', :class => 'glyphicon glyphicon-user') + " " +Spree.t(:logout), spree.logout_path %></li>
<% else %>
  <li class="header_btn"><%= link_to Spree.t(:register), spree.registration_path %></li>
  <li id="link-to-login">
    <%= link_to content_tag(:span, '', :class => 'glyphicon glyphicon-user') + " " +Spree.t(:login), '#',:onclick=>"toggleDiv('myDiv');", :id=>"navLogin" %>
    <div class="dropdown-menu" id="myDiv" role="menu" style="padding:10px;">
      <%= render :partial => 'spree/shared/login' %>
    </div>
  </li>
<% end %>
<script>
  var openDiv;
  function toggleDiv(divID) {
    $("#" + divID).fadeToggle(200, function() {
      openDiv = $(this).is(':visible') ? divID : null;
    });
  }

  $(document).click(function(e) {
    if (!$(e.target).closest('#'+openDiv).length) {
      toggleDiv(openDiv);
    }
  });
</script>